.about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;

  &__heading {
    align-items: center;
    display: flex;
    grid-column: 2 / 4;
    grid-row: 2;
    font-family: "Arvo", serif;
    font-size: 5rem;
    justify-content: center;
    text-shadow: 1px 1px 2px $color-dark;
  }

  &__text {
    grid-column: 2 / 6;
    grid-row: 3 / 6;
    font-family: "Arvo", serif;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-top: 1.5rem;
  }

  &__img {
    background: url("../../Photos/About/nate.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 80%;
    box-shadow: 5px 5px 3px $color-dark;
    grid-column: 4 / 6;
    grid-row: 2;
    height: 35rem;
    width: 35rem;
  }
}
