.btn {
  background-color: teal;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 0.5rem;
  text-align: center;
  transition: all 1s;
}

.btn:hover {
  background-color: white;
  border-radius: 3px;
  box-shadow: 20px 16px teal;
  transform: scale(1.2);
}
