.container {
  align-items: center;
  background: url("../../Photos/stars.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.scene {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  perspective: 100vw;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-1000px);
  transition: transform 1s ease-in-out;
  transform-origin: center;

  &__face {
    color: $color-off-white;
    position: absolute;
    width: 100%;
    height: 100%;

    &--home {
      transform: rotateY(0deg) translateZ(1000px);
    }

    &--personalProjects {
      background-color: $color-dark-blue;
      transform: rotateY(90deg) translateZ(1000px);
    }

    &--about {
      background-color: $color-forrest;
      transform: rotateY(180deg) translateZ(1000px);
    }

    &--contact {
      background-color: $color-dark-blue;
      transform: rotateY(-90deg) translateZ(1000px);
    }

    &--skills {
      background-color: $color-medium-blue;
      transform: rotateX(90deg) translateZ(1000px);
    }

    &--professionalProjects {
      background-color: $color-medium-blue;
      transform: rotateX(-90deg) translateZ(1000px);
    }
  }
}

.show-home {
  transform: translateZ(-1000px) rotateY(0deg);
}
.show-skills {
  transform: translateZ(-1000px) rotateX(-90deg);
}
.show-personalProjects {
  transform: translateZ(-1000px) rotateY(-90deg);
}
.show-about {
  transform: translateZ(-1000px) rotateY(-180deg);
}
.show-contact {
  transform: translateZ(-1000px) rotateY(90deg);
}
.show-prop {
  transform: translateZ(-1000px) rotateX(-90deg);
}
.show-professionalProjects {
  transform: translateZ(-1000px) rotateX(90deg);
}
