.footer {
  align-items: center;
  background-color: $color-dark;
  display: flex;
  justify-content: space-around;

  &__icon {
    height: 5rem;
    width: 5rem;
    margin-right: 0.5rem;
  }

  &__text {
    align-items: center;
    color: $color-off-white;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s;
  }

  &__text:hover {
    background-color: $color-off-white;
    border-radius: 3px;
    color: $color-light-blue;
  }
}
