.nav {
  background-color: $color-light-blue;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  width: 100%;

  &__logo {
    background: url("../../Photos/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-off-white;
    border-radius: 80%;
    margin: auto 0;
    margin-left: 5px;
    cursor: pointer;
    height: 8rem;
    width: 8rem;
  }

  &__list {
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  }

  &__btn {
    cursor: pointer;
    font-family: "Roboto Slab", serif;
  }
}
